<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-11">
	<title>Prescription of <%p_info.p_name%></title>
	
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
 <script src="/jquery/jquery.min.js"></script>
 <script src="/bootstrap/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../jqueryUI/jquery-ui.min.css" media="all">
 <link rel="stylesheet" type="text/css" href="../jqueryUI/jquery-ui.structure.min.css" media="all">
 <link rel="stylesheet" type="text/css" href="../jqueryUI/jquery-ui.theme.min.css" media="all">
<script type="text/javascript" src="../jqueryUI/jquery-ui.min.js"></script>
 <script>
  $(document).ready(function(){
   
    //for datePicker
    $( "#datePicker" ).datepicker({dateFormat: 'dd/mm/yy'}).datepicker('setDate', 'today');

});
  </script>

	<style>
	button{
		padding-top: 1%;
		width: 30%;
	}
	h4,h5,h6{
		text-align: center;
	}
	p{
		text-align: center;
		color: red;
	}
	a{
		padding-left: 3%;
		color: darkred;
	}
	</style>

</head>
<body>
	<div class="container">
			<%if(errors != null){ for(var i=0; i< errors.length; i++){%>
				<p><%=errors[i].msg%></p>
				<%}}%>
   <h4><%= add_info.user_hospital%></h4>
   <h5>Dr. <%= user.user_name%></h5>
   <h5>Email: <%= user.user_email%></h5>
   <h6>Degree: <%= add_info.user_degree%></h6>
 <hr>
		<form method="POST">
		  	<div class="row">
						<div class=" col-xs-5 col-sm-5 col-md-5 col-lg-5">
									<div class="form-group">
											<input type="text" name="visit_date" id="datePicker" class="form-control" placeholder="visit date" readonly value="<%= p_info.v_date%>" required>
										</div>

								<div class="form-group">
											<input type="text" name="patient_name" class="form-control" placeholder="Patient's Name" readonly value="<%= p_info.p_name%>" required>
									</div>

									<div class="form-group">
												<input type="number" class="form-control" name="patient_age" readonly value="<%= p_info.p_age%>" placeholder="Age" required>
									</div>
 

							<hr>

							<!-- <div class="form-group">
									<label>Problem Details</label>
									<textarea class="form-control" type="text" aria-hidden="true" name="patient_problem" readonly required rows="1"><%= p_info.p_problem%></textarea>
							</div> -->
						</div>
						

							<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
							</div>

						
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
								<!-- <div class="form-group">
										<input type="email" name="patient_email" class="form-control" hidden placeholder="Patient's email" readonly value="<%= p_info.p_email%>" required>
							</div> -->
      
       <div class="form-group">
         <input type="text" class="form-control" name="patient_location" readonly value="<%= p_info.p_location%>" placeholder="Location" required>
      </div>

       <div class="form-group">
										<input type="phone" name="patient_phone" class="form-control" placeholder="Patient's phone" readonly value="<%= p_info.p_phone%>" required>
							</div>
							
       <div class="form-group">
										<input type="phone" name="patient_gender" class="form-control" placeholder="Patient's gender" readonly value="<%= p_info.p_gender%>" required>
							</div>
							
								<hr>

						</div>
      
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
         <div class="form-group">
           <label>Medicines</label>
           <textarea class="form-control" name="patient_medicine" readonly required rows="4"><%= p_info.p_medicine%></textarea>
         </div>
        <hr>
        <div class="form-group">
          <label>Request For Change Medicines</label>
          <textarea class="form-control" name="r_message" placeholder="Explain here which medicine need to change and why?  "  required rows="2"></textarea>
        </div>
        <center>
								<button type="submit" class="btn btn-info">Request for change</button>
								<a href="/home">Back to home</a>
								</center>
							</div>
		  	</div>
		</form>
	</div>
</body>
</html>